.clock-day:before {
  content: var(--timer-day);
}
.clock-month:before{
  content: var(--timer-month);
}
.clock-hours:before {
  content: var(--timer-hours);
}
.clock-minutes:before {
  content: var(--timer-minutes);
}
.clock-seconds:before {
  content: var(--timer-seconds);
}

/* body {
  background: linear-gradient(45deg, #1870ed 0, #f18f88 100%);
  font-family: 'Montserrat', 'sans-serif';
  min-height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
} */

/* @font-face{
  font-family: 'myFont';
  src: url(../Poppins/Poppins-Black.ttf);
} */

.clock-container {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  border-radius: 5px;
  padding: 1px 2px;
  /* box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.15), 0 15px 90px 30px rgba(0, 0, 0, 0.25); */
  display: -webkit-box;
  display: flex;
}
.clock-col {
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
  min-width: 10px;
  position: relative;
}
.clock-col:not(:last-child):before, .clock-col:not(:last-child):after {
  content: "";
  background-color: #00529C;
  height: 4px;
  width: 4px;
  margin-top: -3px;
  border-radius: 50%;
  display: block;
  position: absolute;
  right: -16px;
}
.clock-col:not(:last-child):before {
  top: 35%;
}
.clock-col:not(:last-child):after {
  top: 50%;
}
.clock-timer:before {
  color: #00529C;
  font-size: 2rem;
  /* text-transform: uppercase; */
  font-weight: 500;
}
.clock-label {
  color: rgba(122, 122, 122, 0.35);
  text-transform: uppercase;
  font-size: .7rem;
  margin-top: -20px;
}

@media (max-width: 825px) {
  .clock-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .clock-col + .clock-col {
    margin-top: 20px;
  }
  .clock-col:before, .clock-col:after {
    display: none !important;
  }
}