container {
    width: 364px;

    /*border: 1px solid black;*/
    display: inline-block;
}
.block {
    display: inline-block;
    width: 100px;
    height: 70px;
    padding: 0.3rem;
    font-weight: 600;
    font-size: 40px;
    color: #FF6533;
    margin: 10px;
    background: white;
    border: 1px solid #B1CEE2;
    border-radius: 0.3rem;
    float: left;
    -webkit-box-shadow: 0 0 3px #468db3;
    -webkit-box-shadow: inset 0 0 3px #468db3;
}
   .block:hover {
        background-color: #185a82;
        color: #fff;
        border-color: #005E6A;
        cursor: pointer;
    }

.block[v2] {
    height: 210px;
}
    .block[h2] {
        width: 220px;
        font-size: 30px;
        padding: 0.5rem;
        background-color: #FF6533;
        color: white;
    }