@using Microsoft.AspNetCore.Components
@using OpenAccount.Data
@using System.IO
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq

@inject Utility utility
@inject Transaksi trx
@inject Config config
@inject HitLog hitlog
<!-- ======= Hero Section ======= -->
<section id="hero">

    <div class="container">
        <div class="row">
            <div class="col-xl-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
                <div>
                    <span class="badge badge-primary" style="margin-bottom: 2rem;">Cetak Transaksi Buku Tabungan</span><br>
                    <teks style="color: #00529C;">Transaksi <b style="color: #40B703;">Berhasil</b><b> dicetak</b></teks>
                    <h3 style="color: #00529C; margin-top: 5%; font-size: 25px;">Silakan ambil buku tabungan Anda <br> pada bagian bawah mesin</h3>
                </div>
            </div>
            <div class="col-xl-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
                <img src="../assets/img/Folder SVG/berhasil.svg" class="img-fluid" alt="" style="margin-top: 5%;">
            </div>
        </div>
    </div>
</section>
<!-- End Hero -->
<!-- ======= Footer ======= -->
<footer id="footer" class="fixed-bottom">
    <div class="container" style="display: flex;">
        <div class="col-xl-2 order-1 order-lg-1">
            <!-- <button type="button" class="btn btn-primary" style="background-color: #4E4E4E;">Batal</button> -->
        </div>
        <div class="col-xl-8 order-2 order-lg-2">
            <ol class="track-progress" style="margin-left: 0%; margin-bottom: 2%;">
                <li class="done">
                    <em>1</em>
                    <!-- <span>Menu</span> -->
                </li>
                <li class="done">
                    <em>2</em>
                    <!-- <span>T & C</span> -->
                </li>
                <li class="done">
                    <em>3</em>
                    <!-- <span>Menu</span> -->
                </li>
                <li class="done">
                    <em>4</em>
                    <!-- <span>Verification</span> -->
                </li>
                <li class="done">
                    <em>5</em>
                    <!-- <span>Insert Money</span> -->
                </li>
            </ol>
        </div>
        <div class="col-xl-2 order-3 order-lg-3">
            <!-- <button type="button" class="btn btn-primary" style="float: right;">Lanjut</button> -->
        </div>
    </div>
</footer><!-- End Footer -->

@code {
    [Parameter]
    public EventCallback<string> OnClick { get; set; }

    private string result;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);
        Utility.WriteLog("Buku condition : move to ambil kartu", "step-action");
        trx.statusLayanan = "SUCCESS";

        string result = await HitServices.SendSms(trx, config);
        if (result.Contains("1111"))
        {
            trx.smsNotif = "SUCCESS";
            Utility.WriteLog("Histori condition : SMS SUCCESS", "step-action");
        }
        else
        {
            trx.smsNotif = "FAILED";
            Utility.WriteLog("Histori condition : SMS FAILED " + result, "step-action");
        }

        trx.emailAttachment = "";
        trx.attachmentPath = "";
        result = await HitServices.SendEmail(trx, config);
        await Task.Delay(3000);
        JObject jobResult = JObject.Parse(result);
        if (jobResult["fcdEmailResult"]["statusCode"].ToString() == "2111")
        {
            trx.emailNotif = "SUCCESS";
            Utility.WriteLog("Histori condition : EMAIL SUCCESS", "step-action");
        }
        else
        {
            trx.emailNotif = "FAILED";
            //trx.setErrorService("EmailFailed", "Failed to Send Email");
            //HitServices.SendLog(trx, config, "HISTORI BERHASIL: Failed to send Email, " + jobResult["fcdEmailResult"]["statusDesc"].ToString());
            //OnClick.InvokeAsync("error");
            Utility.WriteLog("Histori condition : Failed to send Email, " + jobResult["fcdEmailResult"]["statusDesc"].ToString(), "step-action");
        }

        HitServices.SendLog(trx, config, "");
        await Task.Delay(8000);
        OnClick.InvokeAsync("home");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Utility.WriteLog("Buku condition : entered into buku berhasil", "step-action");
        }
    }
}
