@using Microsoft.AspNetCore.Components

<!-- ======= Hero Section ======= -->
<section id="hero" style="margin-top: 50px;">

    <div class="container">
        <div class="row">
            <div class="col-xl-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
                <div>
                    <span class="badge badge-primary" style="margin-bottom: 2rem; font-size: 20px;">Buka Rekening</span><br>
                </div>
                <h3 style="color: #00529C;"><b>Aktifkan Rekening barumu dengan melakukan setoran awal</b></h3>
                <h3 style="color: #FF6533; margin-top: 5%;">Minimum setoran awal sebesar<br><b>Rp 20.000</b></h3>
                <h3 style="color: #000000; margin-top: 5%;">Masukkan uang kertas pada alat Penerima uang tunai secara<br> lembar per lembar</h3>
            </div>
            <div class="col-xl-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
                <div class="spinner-border text-danger" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <br>
                <img src="../assets/img/insert-money.png" class="img-fluid" style="width: 50%; padding: 1rem;"><br>
                <h4 style="color: #050505; padding: 1rem;">Uang yang telah Anda<br> masukkan Sebesar</h4>
                <h4 style="color: #fc1111; "><b>Rp 10.000</b></h4>
            </div>
        </div>
    </div>
</section>
<!-- End Hero -->
<!-- ======= Footer ======= -->
<footer id="footer" class="fixed-bottom">
    <div class="container" style="display: flex;">
        <div class="col-xl-2 order-1 order-lg-1">
            <a href="menu-verification.html"><button type="button" class="btn btn-primary" style="background-color: #4E4E4E;">Batal</button></a>
        </div>
        <div class="col-xl-8 order-2 order-lg-2">
            <ol class="track-progress" style="margin-left: 0%; margin-bottom: 2%;">
                <li class="done">
                    <em>1</em>
                    <!-- <span>Menu</span> -->
                </li>
                <li class="done">
                    <em>2</em>
                    <!-- <span>T & C</span> -->
                </li>
                <li class="done">
                    <em>3</em>
                    <!-- <span>Menu</span> -->
                </li>
                <li class="done">
                    <em>4</em>
                    <!-- <span>Verification</span> -->
                </li>
                <li class="done">
                    <em>5</em>
                    <!-- <span>Insert Money</span> -->
                </li>
                <li class="todo">
                    <em>6</em>
                    <!-- <span>Done</span> -->
                </li>
            </ol>
        </div>
        <div class="col-xl-2 order-3 order-lg-3">
            <!-- <a href="insert-money.html"><button type="button" class="btn btn-primary" style="float: right;">Continue</button></a> -->
        </div>
    </div>
</footer><!-- End Footer -->

@code {

}
