@using Microsoft.AspNetCore.Components
@using OpenAccount.Data

<!-- ======= Hero Section ======= -->
<section id="hero" style="margin-top: 50px;">

    <div class="container">
        <div class="row">
            <div class="col-xl-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
                <div>
                    <span class="badge badge-primary" style="margin-bottom: 10%; font-size: 20px;">Buka Rekening</span><br>
                </div>
                <h3 style="color: #00529C;"><b> Proses Capture e-KTP <b style="color: rgb(50, 219, 72);">Berhasil</b></b></h3>
                <h3 style="color: #00529C; margin-top: 10%; font-weight: 400;">"Silakan ambil e-KTP Anda <br> pada bagian bawah mesin"</h3>
            </div>
            <div class="col-xl-6 order-1 order-lg-2 hero-img" data-aos="fade-left">

                <div class="card mb-3" style="padding-left: 5%; padding-right: 5%; background-color: rgb(240, 240, 240);">
                    <div class="text-center">
                        <img class="card-img-top" src="../assets/capture/_UP.BMP" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Hasil Capture e-KTP Anda</h5>
                    </div>
                </div>

                <!-- <img src="../assets/img/ktp.png" class="img-fluid" alt="" style="margin-top: 5%; margin-bottom: 5%;"><br> -->
            </div>
        </div>
    </div>
</section>
<!-- End Hero -->
<!-- ======= Footer ======= -->
<footer id="footer" class="fixed-bottom">
    <div class="container" style="display: flex;">
        <div class="col-xl-2 order-1 order-lg-1">
           <button type="button" class="btn btn-primary" style="background-color: #4E4E4E;" @onclick="Home">Batal</button>
        </div>
        <div class="col-xl-8 order-2 order-lg-2">
            <ol class="track-progress" style="margin-left: 0%; margin-bottom: 2%;">
                <li class="done">
                    <em>1</em>
                    <!-- <span>Menu</span> -->
                </li>
                <li class="todo">
                    <em>2</em>
                    <!-- <span>T & C</span> -->
                </li>
                <li class="todo">
                    <em>3</em>
                    <!-- <span>Menu</span> -->
                </li>
                <li class="todo">
                    <em>4</em>
                    <!-- <span>Verification</span> -->
                </li>
                <li class="todo">
                    <em>5</em>
                    <!-- <span>Insert Money</span> -->
                </li>
                <li class="todo">
                    <em>6</em>
                    <!-- <span>Done</span> -->
                </li>
            </ol>
        </div>
        <div class="col-xl-2 order-3 order-lg-3">
           <button type="button" class="btn btn-primary" style="float: right;" @onclick="DataKTP">Lanjut</button>
        </div>
    </div>
</footer><!-- End Footer -->

@code {
    [Parameter]
    public EventCallback<string> OnClick { get; set; }

    private async Task DataKTP()
    {
        OnClick.InvokeAsync("bukarekeningdataKTP");
    }

    private async Task Home()
    {
        OnClick.InvokeAsync("home");
    }
}
