@using Microsoft.AspNetCore.Components
@using OpenAccount.Data

@inject IDScanner scanner 

<!-- ======= Hero Section ======= -->
<section id="hero" style="margin-top: 50px;">

    <div class="container">
        <div class="row">
            <div class="col-xl-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
                <div>
                    <span class="badge badge-primary" style="margin-bottom: 2rem; font-size: 20px;">Buka Rekening</span><br>
                </div>
                <h3 style="color: #00529C;">Letakkan <b>Telunjuk Kanan/Kiri</b> Anda pada alat pemindai Sidik Jari</h3>
            </div>
            <div class="col-xl-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
                @if (!isFingerValid)
                {
                    <h5 style="color: #00529C;">Pindai Jari Gagal, Kesempatan untuk mencoba @trylimit.ToString()x lagi</h5>
                }
                else
                {
                    <div class="spinner-border text-danger" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                }
                <br>
                <img src="../assets/img/finger.png" class="img-fluid" alt=""><br>

            </div>
        </div>
    </div>
</section>
<!-- End Hero -->
<!-- ======= Footer ======= -->
<footer id="footer" class="fixed-bottom">
    <div class="container" style="display: flex;">
        <div class="col-xl-2 order-1 order-lg-1">
            <button type="button" class="btn btn-primary" style="background-color: #4E4E4E;" @onclick="Home">Batal</button>
        </div>
        <div class="col-xl-8 order-2 order-lg-2">
            <ol class="track-progress" style="margin-left: 0%; margin-bottom: 2%;">
                <li class="done">
                    <em>1</em>
                    <!-- <span>Menu</span> -->
                </li>
                <li class="todo">
                    <em>2</em>
                    <!-- <span>T & C</span> -->
                </li>
                <li class="todo">
                    <em>3</em>
                    <!-- <span>Menu</span> -->
                </li>
                <li class="todo">
                    <em>4</em>
                    <!-- <span>Verification</span> -->
                </li>
                <li class="todo">
                    <em>5</em>
                    <!-- <span>Insert Money</span> -->
                </li>
                <li class="todo">
                    <em>6</em>
                    <!-- <span>Done</span> -->
                </li>
            </ol>
        </div>
        <div class="col-xl-2 order-3 order-lg-3">
            <!-- <a href="insert-money.html"><button type="button" class="btn btn-primary" style="float: right;">Continue</button></a> -->
        </div>
    </div>
</footer><!-- End Footer -->

@code {
    [Parameter]
    public EventCallback<string> OnClick { get; set; }

    private bool isFingerValid = true;
    private bool FingerValid = true;
    private bool loopFinger = false;
    private int trylimit = 3;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1000);
        scanner.BackSwallow();
        loopFinger = true;
        CheckFingerValid();
        //OnClick.InvokeAsync("bukarekeningfingerberhasil");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Console.WriteLine("ENTERED INTO BUKA REKENING FINGER PRINT");
            Utility.WriteLog("Buka rekening condition : entered into buka rekening finger print", "step-action");
        }
    }

    private async Task CheckFingerValid()
    {
        do
        {
            await Task.Delay(100);
            if (FingerValid)
            {
                loopFinger = false;
                OnClick.InvokeAsync("bukarekeningfingerberhasil");
            }
            else
            {
                isFingerValid = false;
                await Task.Delay(100);
                StateHasChanged();
                trylimit -= 1;
                if (trylimit == 0)
                {
                    scanner.ReturnCard();
                    scanner.CloseCVRReader();
                    loopFinger = false;
                    OnClick.InvokeAsync("home");
                }
            }
            await Task.Delay(2000);
        } while (loopFinger);
    }
    private async Task Home()
    {
        loopFinger = false;
        OnClick.InvokeAsync("home");
    }
}
