@using Microsoft.AspNetCore.Components
@using OpenAccount.Data

@inject Utility utility
@inject TransaksiBaru trxbaru

<!-- ======= Hero Section ======= -->
<section id="hero" style="margin-top: 50px;">

    <div class="container">
        <div class="row">
            <div class="col-xl-12 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
                <div>
                    <span class="badge badge-primary" style="margin-bottom: 2rem; font-size: 20px;">Buka Rekening</span><br>
                </div>
                <h3 style="color: #00529C; text-align: center; font-weight: 900; margin-bottom: 2%; margin-top: 10%;">Masukkan Kembali PIN Baru Internet Banking Anda</h3>

                <form>
                    <div style="padding-left: 35%; padding-right: 35%;">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" style="text-align: center;" placeholder="******">
                            </div>
                        </div>
                    </div>
                </form>
                <h3 style="color:#00AF80 ; font-weight: 900; text-align: center;">PIN Sesuai</h3>
            </div>


        </div>
    </div>
</section>
<!-- End Hero -->
<!-- ======= Footer ======= -->
<footer id="footer" class="fixed-bottom">
    <div class="container" style="display: flex;">
        <div class="col-xl-2 order-1 order-lg-1">
            <button type="button" class="btn btn-primary" style="background-color: #4E4E4E;" @onclick="InputPin">Kembali</button>
        </div>
        <div class="col-xl-8 order-2 order-lg-2">
            <ol class="track-progress" style="margin-left: 0%; margin-bottom: 2%;">
                <li class="done">
                    <em>1</em>
                    <!-- <span>Menu</span> -->
                </li>
                <li class="done">
                    <em>2</em>
                    <!-- <span>T & C</span> -->
                </li>
                <li class="done">
                    <em>3</em>
                    <!-- <span>Menu</span> -->
                </li>
                <li class="done">
                    <em>4</em>
                    <!-- <span>Verification</span> -->
                </li>
                <li class="done">
                    <em>5</em>
                    <!-- <span>Insert Money</span> -->
                </li>
                <li class="todo">
                    <em>6</em>
                    <!-- <span>Done</span> -->
                </li>
            </ol>
        </div>
        <div class="col-xl-2 order-3 order-lg-3">
            <button type="button" class="btn btn-primary" style="float: right;" @onclick="Berhasil">Lanjut</button>
        </div>
    </div>
</footer><!-- End Footer -->

@code {
    [Parameter]
    public EventCallback<string> OnClick { get; set; }

    private string reference = "4723810";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Console.WriteLine("ENTERED INTO BUKA REKENING KONFIRMASI PIN E-BANKING");
            Utility.WriteLog("Buka rekening condition : entered into buka rekening konfimasi pin e-banking", "step-action");
        }
    }

    private async Task InputPin()
    {
        OnClick.InvokeAsync("bukarekeninginputpinebanking");
    }

    private async Task Berhasil()
    {
        Console.WriteLine("INPUT PIN E-BANKING KEDUA SUCCESS");
        Utility.WriteLog("Buka rekening condition : input pin e-banking kedua success", "step-action");
        trxbaru.setReference(reference);
        Console.WriteLine("SET REFERENCE ID SUCCESS");
        Utility.WriteLog("Buka rekening condition : set reference id success", "step-action");
        OnClick.InvokeAsync("bukarekeningberhasilkartu");
    }
}
