@using Microsoft.AspNetCore.Components

<!-- ======= Hero Section ======= -->
<section id="hero">

    <div class="container">
        <div class="row">
            <div class="col-xl-12 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
                <div>
                    <span class="badge badge-primary" style="margin-bottom: 2rem; font-size: 20px;">Buka Rekening</span><br>
                    <h3 style="color: #00529C;">Pilih tujuan utama Anda untuk membuka rekening</h3>
                </div>
            </div>

            <div class="col-xl-12 order-3 order-lg-3 hero-img" data-aos="fade-left" style=" padding: 3rem;">
                <div class="form-input-data">
                    <div id="btn-periode" class="col-md-12" style="text-align: center;">
                        <div class="form-group">
                            <button type="button" class="btn3 btn-histori" onclick="btn1()">Transaksi</button>
                            <button type="button" class="btn3 btn-histori" style="margin-left: 1rem;">Menabung/Investasi</button>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn3 btn-histori">Keperluan Pribadi</button>
                            <button type="button" class="btn3 btn-histori" style="margin-left: 1rem;">Tujuan Lainnya</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Hero -->
<!-- ======= Footer ======= -->
<footer id="footer" class="fixed-bottom">
    <div class="container" style="display: flex;">
        <div class="col-xl-2 order-1 order-lg-1">
            <button type="button" class="btn btn-secondary">Kembali</button>
        </div>
        <div class="col-xl-8 order-2 order-lg-2">
            <ol class="track-progress" style="margin-left: 0%; margin-bottom: 2%;">
                <li class="done">
                    <em>1</em>
                    <!-- <span>Menu</span> -->
                </li>
                <li class="todo">
                    <em>2</em>
                    <!-- <span>T & C</span> -->
                </li>
                <li class="todo">
                    <em>3</em>
                    <!-- <span>Menu</span> -->
                </li>
                <li class="todo">
                    <em>4</em>
                    <!-- <span>Verification</span> -->
                </li>
                <li class="todo">
                    <em>5</em>
                    <!-- <span>Insert Money</span> -->
                </li>
                <li class="todo">
                    <em>6</em>
                    <!-- <span>Done</span> -->
                </li>
            </ol>
        </div>
        <div class="col-xl-2 order-3 order-lg-3">
            <!-- <button class="btn btn-primary" type="submit" style="float: right;" disabled>Lanjut</button> -->
        </div>
    </div>
</footer><!-- End Footer -->

@code {

}
