@using Microsoft.AspNetCore.Components

<!-- ======= Hero Section ======= -->
<section id="hero" style="margin-top: 50px;">

    <div class="container">
        <div class="row">
            <div class="col-xl-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
                <div>
                    <span class="badge badge-primary" style="margin-bottom: 2rem; font-size: 20px;">Buka Rekening</span><br>
                </div>
                <h3 style="color: #00529C;">Silakan <b>Tanda Tangan</b> sesuai e-KTP Anda pada bagian bawah mesin</h3>
            </div>
            <div class="col-xl-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
                <form method="POST" action="">
                    <canvas class="pad"></canvas>
                    <fieldset>
                        <input type="reset" value="clear" />
                    </fieldset>
                </form>

                <!-- <script src="../assets/jquery.signaturepad.js"></script>
                <script>
                (function(window) {
                  var $canvas,
                      onResize = function(event) {
                        $canvas.attr({
                          height: window.innerHeight,
                          width: window.innerWidth
                        });
                      };

                  $(document).ready(function() {
                    $canvas = $('canvas');
                    window.addEventListener('orientationchange', onResize, false);
                    window.addEventListener('resize', onResize, false);
                    onResize();

                    $('form').signaturePad({
                      drawOnly: true,
                      defaultAction: 'drawIt',
                      validateFields: false,
                      lineWidth: 0,
                      output: null,
                      sigNav: null,
                      name: null,
                      typed: null,
                      clear: 'input[type=reset]',
                      typeIt: null,
                      drawIt: null,
                      typeItDesc: null,
                      drawItDesc: null
                    });
                  });
                }(this));
                </script>
                <script src="../assets/js/json2.min.js"></script> -->
            </div>
        </div>
    </div>
</section>
<!-- End Hero -->
<!-- ======= Footer ======= -->
<footer id="footer" class="fixed-bottom">
    <div class="container" style="display: flex;">
        <div class="col-xl-2 order-1 order-lg-1">
            <button type="button" class="btn btn-primary" style="background-color: #4E4E4E;" @onclick="Kembali">Kembali</button>
        </div>
        <div class="col-xl-8 order-2 order-lg-2">
            <ol class="track-progress" style="margin-left: 0%; margin-bottom: 2%;">
                <li class="done">
                    <em>1</em>
                    <!-- <span>Menu</span> -->
                </li>
                <li class="done">
                    <em>2</em>
                    <!-- <span>T & C</span> -->
                </li>
                <li class="done">
                    <em>3</em>
                    <!-- <span>Menu</span> -->
                </li>
                <li class="done">
                    <em>4</em>
                    <!-- <span>Verification</span> -->
                </li>
                <li class="todo">
                    <em>5</em>
                    <!-- <span>Insert Money</span> -->
                </li>
                <li class="todo">
                    <em>6</em>
                    <!-- <span>Done</span> -->
                </li>
            </ol>
        </div>
        <div class="col-xl-2 order-3 order-lg-3">
            <!-- <a href="insert-money.html"><button type="button" class="btn btn-primary" style="float: right;">Continue</button></a> -->
        </div>
    </div>
</footer><!-- End Footer -->


@code {
    [Parameter]
    public EventCallback<string> OnClick { get; set; }

    private async Task Kembali()
    {
        OnClick.InvokeAsync("bukarekeninginputdata3");
    }

}
