@using Microsoft.AspNetCore.Components
@using System.IO.Ports
@using System.Text
@using OpenAccount.Data

@inject Utility utility
@inject EDC edc
@inject Config config
@inject TransaksiBaru trxbaru
<!-- ======= Hero Section ======= -->
<section id="hero" style="margin-top: 50px;">

    <div class="container">
        <div class="row">
            <div class="col-xl-12 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
                <div>
                    <span class="badge badge-primary" style="margin-bottom: 2rem; font-size: 20px;">Buka Rekening</span><br>
                </div>
                <h3 style="color: #00529C; text-align: center; font-weight: 900; margin-bottom: 2%; margin-top: 10%;">Masukkan Kembali PIN Baru Anda</h3>

                <form>
                    <div style="padding-left: 35%; padding-right: 35%;">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" style="text-align: center;" placeholder="Konfirmasi Pin Anda" @bind="strpin">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- End Hero -->
<!-- ======= Footer ======= -->
<footer id="footer" class="fixed-bottom">
    <div class="container" style="display: flex;">
        <div class="col-xl-2 order-1 order-lg-1">
            <button type="button" class="btn btn-primary" style="background-color: #4E4E4E;" @onclick="InputPin">Kembali</button>
        </div>
        <div class="col-xl-8 order-2 order-lg-2">
            <ol class="track-progressBR" style="margin-left: 0%; margin-bottom: 2%;">
                <li class="done">
                    <em>1</em>
                    <!-- <span>Menu</span> -->
                </li>
                <li class="done">
                    <em>2</em>
                    <!-- <span>T & C</span> -->
                </li>
                <li class="done">
                    <em>3</em>
                    <!-- <span>Menu</span> -->
                </li>
                <li class="done">
                    <em>4</em>
                    <!-- <span>Verification</span> -->
                </li>
                <li class="done">
                    <em>5</em>
                    <!-- <span>Insert Money</span> -->
                </li>
                <li class="done">
                    <em>6</em>
                    <!-- <span>Done</span> -->
                </li>
                <li class="done">
                    <em>7</em>
                    <!-- <span>Done</span> -->
                </li>
                <li class="todo">
                    <em>8</em>
                    <!-- <span>Done</span> -->
                </li>
                <li class="todo">
                    <em>9</em>
                    <!-- <span>Done</span> -->
                </li>
                <li class="todo">
                    <em>10</em>
                    <!-- <span>Done</span> -->
                </li>
            </ol>
        </div>
        <div class="col-xl-2 order-3 order-lg-3">
            @*<button type="button" class="btn btn-primary" style="float: right;" @onclick="MenuEbanking">Lanjut</button>*@
        </div>
    </div>
</footer><!-- End Footer -->

@if (isSalah)
{
    <div class="modal" id="exampleModalCenter" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="background-color:rgba(0, 0, 0, 0.418);">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border text-primary" role="status" style="padding:0.5rem; margin-top: 5%;">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div style="text-align: center; color: rgb(0, 0, 0);">
                        <h3 class="teks" style="margin-top: 5%;">Konfirmasi pin ATM <b style="color: #af0000;">TIDAK SESUAI</b></h3>
                        <h5 style="font-style:italic;">Tekan <b>Lanjut</b> untuk kembali memasukan pin</h5>
                        <button type="button" class="btn btn-primary" style="text-align:center; margin-top: 5%;" data-toggle="modal" data-target="#exampleModalCenter" @onclick="PinATM">Lanjut</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (isSesuai)
{
    <div class="modal" id="exampleModalCenter" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="background-color:rgba(0, 0, 0, 0.418);">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border text-primary" role="status" style="padding:0.5rem; margin-top: 5%;">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div style="text-align: center; color: rgb(0, 0, 0);">
                        <h3 class="teks" style="margin-top: 5%;">Konfirmasi pin ATM <b style="color: #00AF80;">SESUAI</b></h3>
                        <h5 style="font-style:italic;">Tekan <b>Lanjut</b> untuk proses selanjutnya</h5>
                        <button type="button" class="btn btn-primary" style="text-align:center; margin-top: 5%;" data-toggle="modal" data-target="#exampleModalCenter" @onclick="MenuEBanking">Lanjut</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public EventCallback<string> OnClick { get; set; }

    private string strpin = string.Empty;
    private string strpinNomor = string.Empty;
    private SerialPort sPort = new SerialPort();
    private bool loopEDC = false;
    private bool isLoop = true;
    private bool isSesuai = false;
    private bool isNotCorrect = false;
    private bool isPin = false;
    private bool isNotPin = false;
    private bool isEDC = false;
    private bool isSalah = false;
    private SerialPort serialPort = new SerialPort();

    private int tryLimit = 3;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Utility.WriteLog("Buka rekening condition : entered into buka rekening konfirmasi pin atm", "step-action");
            sPort.PortName = config.Read("PORT", Config.PARAM_PORT_EDC);
            if (sPort.IsOpen)
            {
                sPort.Close();
            }
            Utility.WriteLog("Buka rekening condition : EDC process start", "step-action");
            await EDC("14");
            if (isPin)
            {
                isSesuai = true;
                await Task.Delay(100);
                StateHasChanged();
            }
            else if (isNotPin)
            {
                isSalah = true;
                await Task.Delay(100);
                StateHasChanged();
            }
        }
    }

    private async Task MenuEBanking()
    {
        trxbaru.setPinRekening(strpinNomor);
        Utility.WriteLog("Buka rekening condition : input pin nomor rekening " + strpinNomor + " success", "step-action");
        Utility.WriteLog("Buka rekening condition : move to buka rekening menu ebanking", "step-action");
        OnClick.InvokeAsync("bukarekeningmenuebanking");
    }

    private async Task PinATM()
    {
        Utility.WriteLog("Buka rekening condition : move to buka rekening input atm", "step-action");
        OnClick.InvokeAsync("bukarekeninginputpinatm");
    }

    private async Task EDC(string ecrmsg)
    {
        string _statusCode = string.Empty;
        string stx = "02";
        string ecr = "424E49"; // BNI;
        string ecr_messsage = string.Empty;
        string etx = "03";
        string lrc = "00";
        string dataSplit = "";

        string dataRespond = string.Empty;
        serialPort = new SerialPort();

        Utility.WriteLog("Buka rekening condition : EDC serial port close", "step-action");
        serialPort.Close();

        string request_BankFiller = string.Empty;

        request_BankFiller = edc.HexaBankFiller("");

        ecr_messsage = ecrmsg
            + request_BankFiller;

        string data = stx
            + ecr
            + ecr_messsage
            + etx
            + lrc;

        byte[] data2 = edc.StringToByteArray(data);
        byte[] data2_with_lrc = edc.LRC(data2);
        //data2[56] = 0x77;
        serialPort.PortName = sPort.PortName;
        serialPort.BaudRate = 115200;
        //serialPort.DataReceived += new SerialDataReceivedEventHandler(port_DataReceivedLoop);

        Console.WriteLine("1");

        Utility.WriteLog("Buka rekening condition : EDC serial port open", "step-action");
        serialPort.Open();

        Utility.WriteLog("Buka rekening condition : EDC serial port write", "step-action");
        serialPort.Write(data2_with_lrc, 0, data2_with_lrc.Length);

        do
        {
            dataRespond = string.Empty;
            dataSplit = string.Empty;
            //bool exitLoop = false;
            //Console.WriteLine(dataRespond);
            if (serialPort.IsOpen)
            {
                Utility.WriteLog("Buka rekening condition : EDC serial port already open", "step-action");
                string dataCurrent = serialPort.ReadExisting();
                dataRespond += dataCurrent;
                //Console.WriteLine("Data Current: " + dataCurrent);
                //Console.WriteLine("Data Respond: " + dataRespond);
                if (dataRespond.Contains("BNI"))
                {
                    dataSplit = dataRespond.Substring(dataRespond.IndexOf("BNI"));
                    byte[] buffer = Encoding.ASCII.GetBytes(dataSplit);
                    int intBuffer = buffer[4];
                    switch (intBuffer)
                    {
                        case 69:
                            if (strpin.Length == 6)
                            {
                                if (strpinNomor == trxbaru._PinATM1)
                                {
                                    isPin = true;
                                    isLoop = false;
                                }
                                else if (strpinNomor != trxbaru._PinATM1)
                                {
                                    isNotPin = true;
                                    isLoop = false;
                                }
                            }
                            Utility.WriteLog("Buka rekening condition : " + strpin, "step-action");
                            Utility.WriteLog("Buka rekening condition : " + strpinNomor, "step-action");
                            Utility.WriteLog("Buka rekening condition : EDC pin enter", "step-action");
                            break;
                        case 88:
                            Utility.WriteLog("Buka rekening condition : EDC pin cancel", "step-action");
                            InputPin();
                            isLoop = false;
                            break;
                        case 84:
                            Console.WriteLine(strpin);
                            Console.WriteLine(strpinNomor);
                            isLoop = false;
                            break;
                        case 67:
                            strpin = string.Empty;
                            strpinNomor = string.Empty;
                            Utility.WriteLog("Buka rekening condition : EDC pin clear", "step-action");
                            break;
                        case 32:
                            if (strpin.Length < 7)
                            {
                                strpin = strpin + "0";
                                strpinNomor += "0";
                            }
                            Utility.WriteLog("Buka rekening condition : " + strpin, "step-action");
                            Utility.WriteLog("Buka rekening condition : " + strpinNomor, "step-action");
                            Utility.WriteLog("Buka rekening condition : EDC pin 0", "step-action");
                            break;
                        case 1:
                            if (strpin.Length < 7)
                            {
                                strpin = strpin + "1";
                                strpinNomor += "1";
                            }
                            Utility.WriteLog("Buka rekening condition : " + strpin, "step-action");
                            Utility.WriteLog("Buka rekening condition : " + strpinNomor, "step-action");
                            Utility.WriteLog("Buka rekening condition : EDC pin 1", "step-action");
                            break;
                        case 2:
                            if (strpin.Length < 7)
                            {
                                strpin = strpin + "2";
                                strpinNomor += "2";
                            }
                            Utility.WriteLog("Buka rekening condition : " + strpin, "step-action");
                            Utility.WriteLog("Buka rekening condition : " + strpinNomor, "step-action");
                            Utility.WriteLog("Buka rekening condition : EDC pin 2", "step-action");
                            break;
                        case 3:
                            if (strpin.Length < 7)
                            {
                                strpin = strpin + "3";
                                strpinNomor += "3";
                            }
                            Utility.WriteLog("Buka rekening condition : " + strpin, "step-action");
                            Utility.WriteLog("Buka rekening condition : " + strpinNomor, "step-action");
                            Utility.WriteLog("Buka rekening condition : EDC pin 3", "step-action");
                            break;
                        case 4:
                            if (strpin.Length < 7)
                            {
                                strpin = strpin + "4";
                                strpinNomor += "4";
                            }
                            Utility.WriteLog("Buka rekening condition : " + strpin, "step-action");
                            Utility.WriteLog("Buka rekening condition : " + strpinNomor, "step-action");
                            Utility.WriteLog("Buka rekening condition : EDC pin 4", "step-action");
                            break;
                        case 5:
                            if (strpin.Length < 7)
                            {
                                strpin = strpin + "5";
                                strpinNomor += "5";
                            }
                            Utility.WriteLog("Buka rekening condition : " + strpin, "step-action");
                            Utility.WriteLog("Buka rekening condition : " + strpinNomor, "step-action");
                            Utility.WriteLog("Buka rekening condition : EDC pin 5", "step-action");
                            break;
                        case 6:
                            if (strpin.Length < 7)
                            {
                                strpin = strpin + "6";
                                strpinNomor += "6";
                            }
                            Utility.WriteLog("Buka rekening condition : " + strpin, "step-action");
                            Utility.WriteLog("Buka rekening condition : " + strpinNomor, "step-action");
                            Utility.WriteLog("Buka rekening condition : EDC pin 6", "step-action");
                            break;
                        case 7:
                            if (strpin.Length < 7)
                            {
                                strpin = strpin + "7";
                                strpinNomor += "7";
                            }
                            Utility.WriteLog("Buka rekening condition : " + strpin, "step-action");
                            Utility.WriteLog("Buka rekening condition : " + strpinNomor, "step-action");
                            Utility.WriteLog("Buka rekening condition : EDC pin 7", "step-action");
                            break;
                        case 8:
                            if (strpin.Length < 7)
                            {
                                strpin = strpin + "8";
                                strpinNomor += "8";
                            }
                            Utility.WriteLog("Buka rekening condition : " + strpin, "step-action");
                            Utility.WriteLog("Buka rekening condition : " + strpinNomor, "step-action");
                            Utility.WriteLog("Buka rekening condition : EDC pin 8", "step-action");
                            break;
                        case 9:
                            if (strpin.Length < 7)
                            {
                                strpin = strpin + "9";
                                strpinNomor += "9";
                            }
                            Utility.WriteLog("Buka rekening condition : " + strpin, "step-action");
                            Utility.WriteLog("Buka rekening condition : " + strpinNomor, "step-action");
                            Utility.WriteLog("Buka rekening condition : EDC pin 9", "step-action");
                            break;
                    }
                }
                //Console.WriteLine("Data Split: " + dataSplit);
                if (dataRespond.Contains("\x06"))
                {
                    if (dataRespond.Length > 10)
                    {
                        //serialPort.Close();
                        Utility.WriteLog("Buka rekening condition : EDC ACK", "step-action");
                    }
                }
                else if (dataRespond.Contains("\x15"))
                {
                    Utility.WriteLog("Buka rekening condition : EDC serial port close", "step-action");
                    serialPort.Close();
                    Utility.WriteLog("Buka rekening condition : EDC NAK", "step-action");
                }
            }
            StateHasChanged();
            switch (strpin.Length)
            {
                case 1:
                    strpin = strpin.Substring(0, strpin.Length - 1) + "*";
                    break;
                case 2:
                    strpin = strpin.Substring(0, strpin.Length - 2) + "**";
                    break;
                case 3:
                    strpin = strpin.Substring(0, strpin.Length - 3) + "***";
                    break;
                case 4:
                    strpin = strpin.Substring(0, strpin.Length - 4) + "****";
                    break;
                case 5:
                    strpin = strpin.Substring(0, strpin.Length - 5) + "*****";
                    break;
                case 6:
                    strpin = strpin.Substring(0, strpin.Length - 6) + "******";
                    break;
            }
            await Task.Delay(100);
            StateHasChanged();
            //if (strpin.Length == 6)
            //{
            //    if (strpinNomor == trxbaru._PinATM1)
            //    {
            //        isSesuai = true;
            //        isNotCorrect = false;
            //        Utility.WriteLog("Buka rekening condition : pin sesuai", "step-action");
            //    }
            //    else if (strpinNomor != trxbaru._PinATM1)
            //    {
            //        isSesuai = false;
            //        isNotCorrect = true;
            //        //tryLimit -= 1;
            //        //if (tryLimit == 0)
            //        //{
            //        //    trxbaru.clearPinPertama();
            //        //    OnClick.InvokeAsync("bukarekeninginputpinatm");
            //        //}
            //        Utility.WriteLog("Buka rekening condition : pin tidak sesuai", "step-action");
            //    }
            //    await Task.Delay(100);
            //    StateHasChanged();
            //}
        } while (isLoop);

        Console.WriteLine("2");
        Utility.WriteLog("Buka rekening condition : EDC serial port close", "step-action");
        serialPort.Close();
        //serialPort.DataReceived += new SerialDataReceivedEventHandler(port_DataReceived);
    }

    private async Task InputPin()
    {
        strpin = string.Empty;
        isLoop = false;
        Utility.WriteLog("Buka rekening condition : EDC serial port close", "step-action");
        serialPort.Close();
        //await CancelEDC("15");
        Utility.WriteLog("Buka rekening condition : move to buka rekening input pin atm", "step-action");
        OnClick.InvokeAsync("bukarekeninginputpinatm");
    }

    //private async Task MenuEbanking()
    //{
    //    Console.WriteLine("INPUT PIN ATM KEDUA SUCCESS");
    //    Utility.WriteLog("Buka rekening condition : input pin atm kedua success", "step-action");
    //    isLoop = false;
    //    serialPort.Close();
    //    trxbaru.setPinRekening(strpin);
    //    Console.WriteLine("SET NOMOR REKENING SUCCESS");
    //    Utility.WriteLog("Buka rekening condition : set nomor rekening success", "step-action");
    //    await CancelEDC("15");
    //    OnClick.InvokeAsync("bukarekeningmenuebanking");
    //}
}
