@using Microsoft.AspNetCore.Components
@using OpenAccount.Data

@inject Utility utility 
@inject TransaksiBaru trxbaru

<!-- ======= Hero Section ======= -->
<section id="hero">

    <div class="container">
        <div class="row">
            <div class="col-xl-12 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
                <div>
                    <span class="badge badge-primary" style="margin-bottom: 2rem; font-size: 20px;">Buka Rekening</span><br>
                </div>
                <div>
                    <h3 style="color: #00529C;">Silakan Pilih Menu e-Banking</h3>
                </div>

                <div class="card-deck" style="margin-top: 2%;">
                    <div class="card" @onclick="menu1">
                        <div class="text-center">
                            <img class="card-img-top" style="width: 80%;" src="../assets/img/ebanking/internet-bri.png" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Internet Banking</h5>
                            <p class="card-text">Deskripsi</p>
                        </div>
                    </div>
                    <div class="card" @onclick="menu2">
                        <div class="text-center">
                            <img class="card-img-top" style="width: 80%;" src="../assets/img/ebanking/brimo.png" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">BRIMO</h5>
                            <p class="card-text">Deskripsi</p>
                        </div>
                    </div>
                    <div class="card" @onclick="menu3">
                        <div class="text-center">
                            <img class="card-img-top" style="width: 80%;" src="../assets/img/ebanking/SMS Banking.png" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">SMS Banking BRI</h5>
                            <p class="card-text">Deskripsi</p>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</section>
<!-- End Hero -->
<!-- ======= Footer ======= -->
<footer id="footer" class="fixed-bottom" style="background-color: rgb(255, 255, 255);">
    <div class="container" style="display: flex;">
        <div class="col-xl-2 order-1 order-lg-1">
            <button type="button" class="btn btn-primary" style="background-color: #4E4E4E;" @onclick="Home">Batal</button>
        </div>
        <div class="col-xl-8 order-2 order-lg-2">
            <ol class="track-progress" style="margin-left: 0%; margin-bottom: 2%;">
                <li class="done">
                    <em>1</em>
                    <!-- <span>Menu</span> -->
                </li>
                <li class="done">
                    <em>2</em>
                    <!-- <span>T & C</span> -->
                </li>
                <li class="done">
                    <em>3</em>
                    <!-- <span>Menu</span> -->
                </li>
                <li class="done">
                    <em>4</em>
                    <!-- <span>Verification</span> -->
                </li>
                <li class="todo">
                    <em>5</em>
                    <!-- <span>Insert Money</span> -->
                </li>
                <li class="todo">
                    <em>6</em>
                    <!-- <span>Done</span> -->
                </li>
            </ol>
        </div>
        <div class="col-xl-2 order-3 order-lg-3">
            <!-- <a href="term-condition.html"><button type="button" class="btn btn-primary" style="float: right;">Continue</button></a> -->
        </div>
    </div>
</footer><!-- End Footer -->

@code {
    [Parameter]
    public EventCallback<string> OnClick { get; set; }

    private string ebangking = string.Empty;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Console.WriteLine("ENTERED INTO BUKA REKENING MENU E-BANKING");
            Utility.WriteLog("Buka rekening condition : entered into buka rekening menu e-banking", "step-action");
        }
    }

    private void menu1()
    {
        ebangking = "Internet Banking";
        InputPin();
    }

    private void menu2()
    {
        ebangking = "BRIMO";
        InputPin();
    }

    private void menu3()
    {
        ebangking = "SMS Banking BRI";
        InputPin();
    }

    private async Task Home()
    {
        OnClick.InvokeAsync("home");
    }

    private async Task InputPin()
    {
        trxbaru.setEBanking(ebangking);
        Console.WriteLine("SET MENU E-BANKING SUCCESS");
        Utility.WriteLog("Buka rekening condition : set menu e-banking success", "step-action");
        OnClick.InvokeAsync("bukarekeninginputpinebanking");
    }
}
