@using Microsoft.AspNetCore.Components

<!-- ======= Hero Section ======= -->
<section id="hero">

    <div class="container">
        <div class="row">
            <div class="col-xl-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
                <div>
                    <span class="badge badge-primary" style="margin-bottom: 2rem; font-size: 20px;">Buka Rekening</span><br>

                    <h3 style="color: #00529C;">Lengkapi Informasi Pekerjaan Anda</h3>
                </div>
                <form>
                    <div class="form-row" style="margin-top: 5%;">
                        <div class="form-group col-md-6">
                            <label style="font-weight: 600; font-size: 18px;">Nama Perusahaan</label>
                            <input type="text" class="form-control" placeholder="nama perusahaan">
                        </div>
                        <div class="form-group col-md-6">
                            <label style="font-weight: 600; font-size: 18px;">Bidang Usaha</label>
                            <select class="form-control">
                                <option>-Pilih salah satu-</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                            <!-- <input  type="text" class="form-control" id="input_field_1" pattern="[1 -8]*" placeholder="-pilih salah satu-" maxlength="2" required="required"> -->
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label style="font-weight: 600; font-size: 18px;">Kode Pos</label>
                            <select class="form-control">
                                <option>-Pilih salah satu-</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                            <!-- <input type="text" class="form-control" placeholder="email_anda@gmail.com" maxlength="1" required="required"> -->
                        </div>
                        <div class="form-group col-md-6">
                            <label for="input_field_2" style="font-weight: 600; font-size: 18px;">Jabatan/Pangkat</label>
                            <select class="form-control" id="input_field_1">
                                <option>-Pilih salah satu-</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                            <!-- <input type="text" class="form-control" id="input_field_2"  placeholder="No. halaman yang akan dicetak" maxlength="1" required="required"> -->
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label style="font-weight: 600; font-size: 18px;">Kota</label>
                            <select class="form-control">
                                <option>-Pilih salah satu-</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                            <!-- <input type="text" class="form-control" id="input_field_2"  placeholder="No. halaman yang akan dicetak" maxlength="1" required="required"> -->
                        </div>
                        <div class="form-group col-md-6">
                            <label style="font-weight: 600; font-size: 18px;">Alamat Kantor</label>
                            <textarea class="form-control" placeholder="alamat kantor anda" required="required"></textarea>
                        </div>
                    </div>

                </form>
            </div>
            <div class="col-xl-6 order-1 order-lg-2 hero-img" data-aos="fade-left" style="padding: 0.5rem;">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="input_field_2" style="font-weight: 600; font-size: 18px; float: left;">Telepon Kantor</label>
                            <input type="text" class="form-control" id="input_field_2" placeholder="0210223333" maxlength="1" required="required">
                        </div>
                    </div>
                </form>
                <hr color="gray" width="100%" align="center">
                <div class="num-button2" style="margin-top: 2%;">
                    <button class="key-num2 btn4" value="1">1</button>
                    <button class="key-num2 btn4" value="2">2</button>
                    <button class="key-num2 btn4" value="3">3</button>
                    <button class="key-num2 btn4" value="4">4</button>
                    <button class="key-num2 btn4" value="5">5</button>
                    <button class="key-num2 btn4" value="6">6</button>
                    <button class="key-num2 btn4" value="7">7</button>
                    <button class="key-num2 btn4" value="8">8</button>
                    <button class="key-num2 btn4" value="9">9</button>
                    <button class="key-num2 btn4" value="9">0</button>

                    <button class="key-num2 btn4"><b class="teks-bold">Q</b></button>
                    <button class="key-num2 btn4"><b class="teks-bold">W</b></button>
                    <button class="key-num2 btn4"><b class="teks-bold">E</b></button>
                    <button class="key-num2 btn4"><b class="teks-bold">R</b></button>
                    <button class="key-num2 btn4"><b class="teks-bold">T</b></button>
                    <button class="key-num2 btn4"><b class="teks-bold">Y</b></button>
                    <button class="key-num2 btn4"><b class="teks-bold">U</b></button>
                    <button class="key-num2 btn4"><b class="teks-bold">I</b></button>
                    <button class="key-num2 btn4"><b class="teks-bold">O</b></button>
                    <button class="key-num2 btn4"><b class="teks-bold">P</b></button>
                    <button class="key-num2 btn4"><b class="teks-bold">A</b></button>
                    <button class="key-num2 btn4"><b class="teks-bold">S</b></button>
                    <button class="key-num2 btn4"><b class="teks-bold">D</b></button>
                    <button class="key-num2 btn4"><b class="teks-bold">F</b></button>
                    <button class="key-num2 btn4"><b class="teks-bold">G</b></button>
                    <button class="key-num2 btn4"><b class="teks-bold">H</b></button>
                    <button class="key-num2 btn4"><b class="teks-bold">J</b></button>
                    <button class="key-num2 btn4"><b class="teks-bold">K</b></button>
                    <button class="key-num2 btn4"><b class="teks-bold">L</b></button><br>

                    <button class="key-num3 btn4"><b class="teks-bold">!#$</b></button>
                    <button class="key-num2 btn4"><b class="teks-bold">Z</b></button>
                    <button class="key-num2 btn4"><b class="teks-bold">X</b></button>
                    <button class="key-num2 btn4"><b class="teks-bold">C</b></button>
                    <button class="key-num2 btn4"><b class="teks-bold">V</b></button>
                    <button class="key-num2 btn4"><b class="teks-bold">B</b></button>
                    <button class="key-num2 btn4"><b class="teks-bold">N</b></button>
                    <button class="key-num2 btn4"><b class="teks-bold">M</b></button>
                    <button class="key-num4 btn4"><b class="teks-bold">Hapus</b></button>

                    <button class="key-num2 btn4" value="1"><b class="teks-bold">@tomboladd</b></button>
                    <button class="key-num2 btn4" value="2">,</button>
                    <button class="key-num5 btn4" value="3">Space</button>
                    <button class="key-num2 btn4" value="4">.</button>
                    <button class="key-num6 btn4" value="5"><b class="teks-bold">.com</b></button>
                    <button class="key-num6 btn4" value="6"><b class="teks-bold">.co.id</b></button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Hero -->
<!-- ======= Footer ======= -->
<footer id="footer" class="fixed-bottom">
    <div class="container" style="display: flex;">
        <div class="col-xl-2 order-1 order-lg-1">
            <button type="button" class="btn btn-primary" style="background-color: #4E4E4E;" @onclick="Kembali">Kembali</button>
        </div>
        <div class="col-xl-8 order-2 order-lg-2">
            <ol class="track-progress" style="margin-left: 0%; margin-bottom: 2%;">
                <li class="done">
                    <em>1</em>
                    <!-- <span>Menu</span> -->
                </li>
                <li class="done">
                    <em>2</em>
                    <!-- <span>T & C</span> -->
                </li>
                <li class="done">
                    <em>3</em>
                    <!-- <span>Menu</span> -->
                </li>
                <li class="done">
                    <em>4</em>
                    <!-- <span>Verification</span> -->
                </li>
                <li class="todo">
                    <em>5</em>
                    <!-- <span>Insert Money</span> -->
                </li>
                <li class="todo">
                    <em>6</em>
                    <!-- <span>Done</span> -->
                </li>
            </ol>
        </div>
        <div class="col-xl-2 order-3 order-lg-3">
            <button class="btn btn-primary" type="button" style="float: right;" @onclick="Selanjutnya">Lanjut</button>
        </div>
    </div>
</footer><!-- End Footer -->

@code {
    [Parameter]
    public EventCallback<string> OnClick { get; set; }

    private string tomboladd = "@";

    private async Task Kembali()
    {
        OnClick.InvokeAsync("bukarekeninginputdata2");
    }

    private async Task Selanjutnya()
    {
        OnClick.InvokeAsync("bukarekeningtandatangan");
    }
}
