@using Microsoft.AspNetCore.Components
@using OpenAccount.Data

@inject Utility utility 
@inject TransaksiBaru trxbaru

<!-- ======= Hero Section ======= -->
<section id="hero">

    <div class="container">
        <div class="row">
            <div class="col-xl-12 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
                <div>
                    <span class="badge badge-primary" style="margin-bottom: 2rem; font-size: 20px;">Buka Rekening</span><br>
                    <h3 style="color: #00529C;">Pilih tujuan utama Anda untuk membuka rekening</h3>
                </div>
            </div>

            <div class="col-xl-12 order-3 order-lg-3 hero-img" data-aos="fade-left" style=" padding: 3rem;">
                <div class="form-input-data">
                    <div id="btn-periode" class="col-md-12" style="text-align: center;">
                        <div class="form-group">
                            <button type="button" class="btn3 btn-histori" @onclick="InputField1">Transaksi</button>
                            <button type="button" class="btn3 btn-histori" style="margin-left: 1rem;" @onclick="InputField2">Menabung/Investasi</button>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn3 btn-histori" @onclick="InputField3">Keperluan Pribadi</button>
                            <button type="button" class="btn3 btn-histori" style="margin-left: 1rem;" @onclick="InputKTP">Tujuan Lainnya</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Hero -->
<!-- ======= Footer ======= -->
<footer id="footer" class="fixed-bottom">
    <div class="container" style="display: flex;">
        <div class="col-xl-2 order-1 order-lg-1">
            <button type="button" class="btn btn-secondary" @onclick="Home">Batal</button>
        </div>
        <div class="col-xl-8 order-2 order-lg-2">
            <ol class="track-progress" style="margin-left: 0%; margin-bottom: 2%;">
                <li class="done">
                    <em>1</em>
                    <!-- <span>Menu</span> -->
                </li>
                <li class="todo">
                    <em>2</em>
                    <!-- <span>T & C</span> -->
                </li>
                <li class="todo">
                    <em>3</em>
                    <!-- <span>Menu</span> -->
                </li>
                <li class="todo">
                    <em>4</em>
                    <!-- <span>Verification</span> -->
                </li>
                <li class="todo">
                    <em>5</em>
                    <!-- <span>Insert Money</span> -->
                </li>
                <li class="todo">
                    <em>6</em>
                    <!-- <span>Done</span> -->
                </li>
                <li class="todo">
                    <em>7</em>
                    <!-- <span>Done</span> -->
                </li>
                <li class="todo">
                    <em>8</em>
                    <!-- <span>Done</span> -->
                </li>
                <li class="todo">
                    <em>9</em>
                    <!-- <span>Done</span> -->
                </li>
                <li class="todo">
                    <em>10</em>
                    <!-- <span>Done</span> -->
                </li>
            </ol>
        </div>
        <div class="col-xl-2 order-3 order-lg-3">
            <!-- <button class="btn btn-primary" type="submit" style="float: right;" disabled>Lanjut</button> -->
        </div>
    </div>
</footer><!-- End Footer -->

@code {
    [Parameter]
    public EventCallback<string> OnClick { get; set; }

    private string tujuanRekening = string.Empty;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Console.WriteLine("ENTERED INTO BUKA REKENING JENIS TUJUAN");
            Utility.WriteLog("Buka rekening condition : entered into buka rekening jenis tujuan", "step-action");
        }
    }

    private async Task Home()
    {
        Console.WriteLine("MOVE TO HOME");
        Utility.WriteLog("Buka rekening condition : move to home", "step-action");
        OnClick.InvokeAsync("home");
    }

    private void InputField1()
    {
        tujuanRekening = "Transaksi";
        trxbaru.setTujuanRekening(tujuanRekening);
        InputKTP();
    }

    private void InputField2()
    {
        tujuanRekening = "Menabung/Investasi";
        trxbaru.setTujuanRekening(tujuanRekening);
        InputKTP();
    }

    private void InputField3()
    {
        tujuanRekening = "Keperluan Pribadi";
        trxbaru.setTujuanRekening(tujuanRekening);
        InputKTP();
    }

    private void InputField4()
    {
        tujuanRekening = "Tujuan Lainnya";
        trxbaru.setTujuanRekening(tujuanRekening);
        InputKTP();
    }

    private async Task InputKTP()
    {
        Console.WriteLine("SET TUJUAN REKENING SUCCESS");
        Utility.WriteLog("Buka rekening condition : set tujuan rekening success", "step-action");
        Console.WriteLine("MOVE TO BUKA REKENING KTP");
        Utility.WriteLog("Buka rekening condition : move to buka rekening ktp", "step-action");
        OnClick.InvokeAsync("bukarekeningktp");
    }
}
