@using Microsoft.AspNetCore.Components
@using OpenAccount.Data

@inject Transaksi trx 
@inject TransaksiBaru trxbaru
@inject Utility utility

<!-- ======= Hero Section ======= -->
<section id="hero">

    <div class="container">
        <div class="row">
            <div class="col-xl-12 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
                <div>
                    <h3 style="color: #00529C;">Buka Tabungan</h3>
                    <h2>Get Easy, Simply Use</h2>
                </div>

                <div class="card-deck" style="display: flex; margin-top: 2%;" data-aos="fade-up">
                    <div class="card" style="width: 18rem; height: 90%;" @onclick="BukaRekening">
                        <div class="text-center" style="align-items: center; height: 60%;">
                            <img src="assets/img/icon-menu/oa.png" class="card-img-top" style="width: 70%;" alt="...">
                        </div>
                        <div class="card-body">
                            <small class="text-muted" style="font-size: 17px; color: #000000; font-weight: 600;">Buka Rekening</small>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem; height: 90%;" @onclick="GantiPin">
                        <div class="text-center" style="align-items: center; height: 60%;">
                            <img src="assets/img/icon-menu/ganti-pin.png" class="card-img-top" style="width: 90%;" alt="...">
                        </div>
                        <div class="card-body">
                            <small class="text-muted" style="font-size: 17px; color: #000000; font-weight: 600;">Ganti Pin</small>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem; height: 90%;">
                        <div class="text-center" style="align-items: center; height: 60%;">
                            <img src="assets/img/icon-menu/e-money.png" class="card-img-top" style="width: 90%;" alt="...">
                        </div>
                        <div class="card-body">
                            <small class="text-muted" style="font-size: 17px; color: #000000; font-weight: 600;">Beli Kartu <br> e-Money</small>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem; height: 90%;" @onclick="BukuTabungan">
                        <div class="text-center" style="align-items: center; height: 60%;">
                            <img src="assets/img/icon-menu/p-b-tabungan.png" class="card-img-top" style="width: 70%;" alt="...">
                        </div>
                        <div class="card-body">
                            <small class="text-muted" style="font-size: 17px; color: #000000; font-weight: 600;">Print Buku Tabungan</small>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem; height: 90%;" @onclick="HistoriTransaksi">
                        <div class="text-center" style="align-items: center; height: 60%;">
                            <img src="assets/img/icon-menu/p-h-transaksi.png" class="card-img-top" style="width: 70%;" alt="...">
                        </div>
                        <div class="card-body">
                            <small class="text-muted" style="font-size: 17px; color: #000000; font-weight: 600;">Print Histori Transaksi</small>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem; height: 90%;" @onclick="GantiKartu">
                        <div class="text-center" style="align-items: center; height: 60%;">
                            <img src="assets/img/icon-menu/ganti-kartu.png" class="card-img-top" style="width: 80%;" alt="...">
                        </div>
                        <div class="card-body">
                            <small class="text-muted" style="font-size: 17px; color: #000000; font-weight: 600;">Ganti Kartu Hilang/Rusak</small>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
<!-- End Hero -->

@code {
    [Parameter]
    public EventCallback<string> OnClick { get; set; }
    private bool isVisible = false;

    protected override async Task OnInitializedAsync()
    {
        trx.clear();
        Utility.WriteLog("Home condition : clear transaksi success", "step-action");
        trx.clearArray();
        Utility.WriteLog("Home condition : clear array success", "step-action");
        trx.clearArrayNasabah();
        Utility.WriteLog("Home condition : clear array nasabah success", "step-action");
        trx.ClearList();
        Utility.WriteLog("Home condition : clear list success", "step-action");
        trxbaru.clear();
        Utility.WriteLog("Home condition : clear transaksi baru success", "step-action");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Utility.WriteLog("Home condition : entered into home page", "step-action");
        }
    }

    private void test()
    {
        isVisible = true;
    }

    private async Task GantiKartu()
    {
        Utility.WriteLog("Home condition : move to ganti kartu", "step-action");
        OnClick.InvokeAsync("gantikartu");
    }

    private async Task HistoriTransaksi()
    {
        Utility.WriteLog("Home condition : move to histori transaksi", "step-action");
        OnClick.InvokeAsync("historitransaksi");
    }

    private async Task BukuTabungan()
    {
        Utility.WriteLog("Home condition : move to buku tabungan", "step-action");
        OnClick.InvokeAsync("bukutabungan");
    }

    private async Task BukaRekening()
    {
        Utility.WriteLog("Home condition : move to buka rekening", "step-action");
        OnClick.InvokeAsync("bukarekening");
    }

    private async Task GantiPin()
    {
        Utility.WriteLog("Home condition : move to ganti pin", "step-action");
        OnClick.InvokeAsync("gantipin");
    }
}
