@using Microsoft.AspNetCore.Components
@using OpenAccount.Data

@inject Transaksi trx
@inject TransaksiBaru trxbaru
@inject Utility utility

<!-- ======= Hero Section ======= -->
<section id="hero" style="position: fixed;">

    <div class="container">
        <div class="row" style="margin-top: -3%;">
            <!-- <div class="col-sm-2" data-aos="fade-up">
            </div> -->
            <div class="col-sm-12" style=" text-align: center; padding-left: 6%; padding-right: 6%;">
                <div class="row">
                    <div class="col-md-12">
                        <img src="../assets/img/Folder SVG/landing.svg" style="width: 100%;">
                    </div>
                </div>
            </div>
            <!-- <div class="col-sm-2" data-aos="fade-up">
            </div> -->
            <div class="col-sm-12" style=" padding-left: 7%; padding-right: 7%; margin-top: 3%;">
                <div class="row">
                    <div class="card" style="width: 49%; border: 2px solid #007BFF; border-radius: 18px;" @onclick="InsertDebit">
                        <div class="row no-gutters">
                            <div class="col-md-4" style="text-align: center;">
                                <img src="../assets/img/Folder SVG/debit.svg" style="padding: 25px; width: 80%;">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body" style="text-align:left;  margin-left: -1.5rem; margin-top: 2%;">
                                    <h5 class="card-title">Kartu Debit</h5>
                                    <b class="card-text" style="color: #3D80BC;">Masuk menggunakan Debit</b>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" style="width: 49%; margin-left: 1.5%; border: 2px solid #007BFF; border-radius: 15px;">

                        <div class="row no-gutters">
                            <div class="col-md-4" style="text-align: center;">
                                <img src="../assets/img/ktp.png" style="padding: 25px; width: 80%;">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body" style="text-align:left;  margin-left: -1.5rem; margin-top: 2%;">
                                    <h5 class="card-title">Kartu E-KTP</h5>
                                    <b class="card-text" style="color: #3D80BC;">Masuk menggunakan e-Ktp</b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Hero -->
<!-- ======= Footer ======= -->
<footer id="footer" class="fixed-bottom">
    <div class="container" style="display: flex;">
        <div class="col-xl-2 order-1 order-lg-1">
            <!-- <button type="button" class="btn btn-primary" style="background-color: #4E4E4E;">Batal</button> -->
        </div>
        <div class="col-xl-8 order-2 order-lg-2">
            <ol class="track-progressHome" style="margin-left: 0%; margin-bottom: 2%;">
                <li class="todo">
                    <em>1</em>
                    <!-- <span>Menu</span> -->
                </li>
                <li class="todo">
                    <em>2</em>
                    <!-- <span>T & C</span> -->
                </li>
                <li class="todo">
                    <em>3</em>
                    <!-- <span>Menu</span> -->
                </li>
                <li class="todo">
                    <em>4</em>
                    <!-- <span>Verification</span> -->
                </li>
                <li class="todo">
                    <em>5</em>
                    <!-- <span>Insert Money</span> -->
                </li>
                <li class="todo">
                    <em>6</em>
                    <!-- <span>Done</span> -->
                </li>
            </ol>
        </div>
        <div class="col-xl-2 order-3 order-lg-3">
            <!-- <a href="term-condition.html"><button type="button" class="btn btn-primary" style="float: right;">Continue</button></a> -->
        </div>
    </div>
</footer><!-- End Footer -->

@code {
    [Parameter]
    public EventCallback<string> OnClick { get; set; }

    protected override async Task OnInitializedAsync()
    {
        trx.clear();
        Utility.WriteLog("Home condition : clear transaksi success", "step-action");
        trx.clearArray();
        Utility.WriteLog("Home condition : clear array success", "step-action");
        trx.clearArrayNasabah();
        Utility.WriteLog("Home condition : clear array nasabah success", "step-action");
        trx.ClearList();
        Utility.WriteLog("Home condition : clear list success", "step-action");
        trxbaru.clear();
        Utility.WriteLog("Home condition : clear transaksi baru success", "step-action");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Utility.WriteLog("Home condition : entered into landing page", "step-action");
        }
    }

    private async Task InsertDebit()
    {
        Utility.WriteLog("Home condition : move to insert debit", "step-action");
        OnClick.InvokeAsync("insertdebit");
    }
}
