@using Microsoft.AspNetCore.Components

<!-- ======= Hero Section ======= -->
<body oncontextmenu="return false" class="bg-home2" style="background-image:url('../assets/img/Folder SVG/bg-landing.svg')">
    <section id="hero" style="position: fixed;">

        <div class="container">
            <div class="row" style="margin-top:8%;">
                <div class="col-xl-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
                    <div>
                        <teks style="font-weight: 900;">Get Easy, Simply Use</teks>
                        <h5 style="margin-top: 3%; color: #00539cb7; font-size: 20px;">Lorem Ipsum is simply dummy text of the <br> printing and typesetting industry.</h5>
                        <button class="btn btn-primary" type="button" style="float: left; margin-top: 9%; font-weight: 700;" @onclick="InputRekening">START HERE</button>
                    </div>
                </div>
                <div class="col-xl-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
                    <img src="./assets/img/Folder GIF/Landing-animation2.gif" style="width: 100%;">
                </div>
            </div>

        </div>
    </section>
</body>
<!-- End Hero -->

@code {
    [Parameter]
    public EventCallback<string> OnClick { get; set; }


  
    private async Task InputRekening()
    {
        OnClick.InvokeAsync("inputrekening");
    }
}
