@using Microsoft.AspNetCore.Components
@using OpenAccount.Data
@using System.IO.Ports
@using System.Text;
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using OpenAccount.Report

@inject Config config
@inject Transaksi trx
@inject Utility utility
@inject EDC edc
<!-- ======= Hero Section ======= -->
<body oncontextmenu="return false" class="bg-home2" style="background-image:url('../assets/img/Folder SVG/bg-landing.svg')">
    <section id="hero" style="position: fixed;" @onclick="testOnclik">
        
        <div class="container" >
            <div class="row" style="margin-top:8%;">
                <div class="col-xl-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
                    <div>
                        <teks style="font-weight: 900;">Melayani dengan Setulus Hati</teks>
                        <h5 style="margin-top: 3%; color: #00539cb7; font-size: 20px;">Self Service Passbook Printing </h5>
                        <h5 style="margin-top: 3%; color: #00539cb7; font-size: 10px;">Powered by Trilogi Persada </h5>
                        <button class="btn btn-primary" type="button" style="float: left; margin-top: 9%; font-weight: 700;" @onclick="InputRekening">START HERE</button>
                    </div>
                </div>
                <div class="col-xl-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
                    <img src="./assets/img/Folder GIF/Landing-animation2.gif" style="width: 100%;">
                </div>
            </div>

        </div>
    </section>
</body>
<!-- End Hero -->

@if (isNotHour)
{
    @*<div class="modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="background-color:rgba(0, 0, 0, 0.418);">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="d-flex justify-content-center">
                            <div class="spinner-border text-primary" role="status" style="padding:0.5rem; margin-top: 5%;">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <div style="text-align: center; color: rgb(0, 0, 0);">
                            <h3 class="teks" style="margin-top: 5%;">SISTEM ERROR</h3>
                            <h5 style="font-style:italic;">Silahkan Hubungi Customer Service.</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    <div class="modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="background-color: rgba(0, 0, 0, 0.733);">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" style="background-color: transparent;">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border text-white" role="status" style="padding:0.5rem; margin-top: 5%;">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <!-- <img src="../assets/img/Spinner.gif"> -->
                </div>
                <div style="text-align: center; color: rgb(255, 255, 255);">
                    <h3 class="teks" style="margin-top: 5%;">MAAF, mesin sedang tidak beroperasi</h3>
                    <h3>Jam operasional mesin 06.00-16.00</h3>
                </div>

            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public EventCallback<string> OnClick { get; set; }

    private TimeSpan span;
    private int overtime = 60000;
    private bool isTime = false;
    private bool isTimer = true;
    private DateTime starttime;

    private bool isNotHour = false;
    private string TimeNow = string.Empty;
    private bool isTrue = false;
    private bool isRead = false;
    private bool isTimeOut = false;

    private void testOnclik()
    {
        starttime = DateTime.Now;
        Console.WriteLine(starttime.ToString());
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            trx.timeOut = "default";
            starttime = DateTime.Now;
            await Task.Run(() => IdleTime());
            if (isTime&&isTimer)
            {
                isTimeOut = true;
                await Task.Delay(100);
                StateHasChanged();
                await Task.Delay(2000);
                isTime = false;
                isTimer = false;
                //OnClick.InvokeAsync("timeout");
            }
        }
    }
    private async Task IdleTime()
    {
        do
        {
            span = DateTime.Now - starttime;
            if (overtime > 0 && span.TotalMilliseconds > overtime)
            {
                isRead = false;
                isTime = true;
                isTimeOut = true;
                break;
            }
        } while (isTimeOut == false);
    }

    private async Task InputRekening()
    {
        TimeNow = DateTime.Now.ToString("HH:mm:ss");
        if (DateTime.Now.Hour > 17 || DateTime.Now.Hour < 7)
        {
            isNotHour = true;
            await Task.Delay(100);
            StateHasChanged();
            await Task.Delay(5000);
            isNotHour = false;
            await Task.Delay(100);
            StateHasChanged();
            Console.WriteLine(TimeNow);
            OnClick.InvokeAsync("nothour");
        }
        else
        {
            isTimer = false;
            OnClick.InvokeAsync("insertdebit");
        }

    }

    #region Test Terbilang
    string[] satuan = new string[10] { "NOL", "SATU", "DUA", "TIGA", "EMPAT", "LIMA", "ENAM", "TUJUH", "DELAPAN", "SEMBILAN" };
    string[] belasan = new string[10] { "SEPULUH", "SEBELAS", "DUA BELAS", "TIGA BELAS", "EMPAT BELAS", "LIMA BELAS", "ENAM BELAS", "TUJUH BELAS", "DELAPAN BELAS", "SEMBILAN BELAS" };
    string[] puluhan = new string[10] { "", "", "DUA PULUH", "TIGA PULUH", "EMPAT PULUH", "LIMA PULUH", "ENAM PULUH", "TUJUH PULUH", "DELAPAN PULUH", "SEMBILAN PULUH" };
    string[] ribuan = new string[5] { "", "RIBU", "JUTA", "MILYAR", "TRILIYUN" };

    string Terbilang(Decimal d)
    {
        string strHasil = "";
        Decimal frac = d - Decimal.Truncate(d);

        if (Decimal.Compare(frac, 0.0m) != 0)
            strHasil = " KOMA "+Terbilang(Decimal.Round(frac * 100)) ;
        else
            strHasil = "RUPIAH";
        int xDigit = 0;
        int xPosisi = 0;

        string strTemp = Decimal.Truncate(d).ToString();
        for (int i = strTemp.Length; i > 0; i--)
        {
            string tmpx = "";
            xDigit = Convert.ToInt32(strTemp.Substring(i - 1, 1));
            xPosisi = (strTemp.Length - i) + 1;
            switch (xPosisi % 3)
            {
                case 1:
                    bool allNull = false;
                    if (i == 1)
                        tmpx = satuan[xDigit] + " ";
                    else if (strTemp.Substring(i - 2, 1) == "1")
                        tmpx = belasan[xDigit] + " ";
                    else if (xDigit > 0)
                        tmpx = satuan[xDigit] + " ";
                    else
                    {
                        allNull = true;
                        if (i > 1)
                            if (strTemp.Substring(i - 2, 1) != "0")
                                allNull = false;
                        if (i > 2)
                            if (strTemp.Substring(i - 3, 1) != "0")
                                allNull = false;
                        tmpx = "";
                    }

                    if ((!allNull) && (xPosisi > 1))
                        if ((strTemp.Length == 4) && (strTemp.Substring(0, 1) == "1"))
                            tmpx = "SE" + ribuan[(int)Decimal.Round(xPosisi / 3m)] + " ";
                        else
                            tmpx = tmpx + ribuan[(int)Decimal.Round(xPosisi / 3)] + " ";
                    strHasil = tmpx + strHasil;
                    break;
                case 2:
                    if (xDigit > 0)
                        strHasil = puluhan[xDigit] + " " + strHasil;
                    break;
                case 0:
                    if (xDigit > 0)
                        if (xDigit == 1)
                            strHasil = "SERATUS " + strHasil;
                        else
                            strHasil = satuan[xDigit] + " RATUS " + strHasil;
                    break;
            }
        }
        strHasil = strHasil.Trim().ToUpper();
        if (strHasil.Length > 0)
        {
            strHasil = strHasil.Substring(0, 1).ToUpper() +
              strHasil.Substring(1, strHasil.Length - 1);
        }
        return strHasil;
    }
    #endregion
}
