@using Microsoft.AspNetCore.Components
@using OpenAccount.Data

<!-- ======= Hero Section ======= -->
<section id="hero">

    <div class="container">
        <div class="row" style="margin-top: 0%;">
            <div class="col-xl-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
                <div>
                    <span class="badge badge-primary" style="margin-bottom: 2rem; font-size: 20px; width: 35%;">Ganti Kartu</span><br>
                    <teks>Kartu Britama</teks>
                    <h3 style="color: #00529C; font-weight: 400;">Pilih model kartu yang anda inginkan</h3><br>
                </div>
            </div>
            <div class="col-xl-6 order-1 order-lg-2 hero-img" data-aos="fade-left">

                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <!-- <ol class="carousel-indicators">
                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    </ol> -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div>
                                <div class="card" style="width: 90%; border: 2px solid #007BFF; border-radius: 15px; float: right;" @onclick="syarat">
                                    <div class="row no-gutters">
                                        <div class="col-md-5" style="text-align: center;">
                                            <img src="../assets/img/Folder SVG/Britama-1.svg" style="padding: 10px 0px 0px 10px; width: 100%;">
                                        </div>
                                        <div class="col-md-7">
                                            <div class="card-body" style="text-align:left;  margin-left: -1.5rem; margin-top: 2%;">
                                                <h5 class="card-title">Britama 1</h5>
                                                <b class="card-text" style="color: #3D80BC;">Deskripsi Singkat Model Kartu</b>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card" style="width: 90%; border: 2px solid #007BFF; border-radius: 15px; float: right; margin-top: 3%;" @onclick="syarat">

                                    <div class="row no-gutters">
                                        <div class="col-md-5" style="text-align: center;">
                                            <img src="../assets/img/Folder SVG/Britama-2.svg" style="padding: 10px 0px 0px 10px; width: 100%;">
                                        </div>
                                        <div class="col-md-7">
                                            <div class="card-body" style="text-align:left;  margin-left: -1.5rem; margin-top: 2%;">
                                                <h5 class="card-title">Britama 2</h5>
                                                <b class="card-text" style="color: #3D80BC;">Deskripsi Singkat Model Kartu</b>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card" style="width: 90%; border: 2px solid #007BFF; border-radius: 15px; float: right; margin-top: 3%;">

                                    <div class="row no-gutters">
                                        <div class="col-md-5" style="text-align: center;">
                                            <img src="../assets/img/Folder SVG/Britama-3.svg" style="padding: 10px 0px 0px 10px; width: 100%;">
                                        </div>
                                        <div class="col-md-7">
                                            <div class="card-body" style="text-align:left;  margin-left: -1.5rem; margin-top: 2%;">
                                                <h5 class="card-title">Britama 3</h5>
                                                <b class="card-text" style="color: #3D80BC;">Deskripsi Singkat Model Kartu</b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div>
                                <div class="card" style="width: 90%; border: 2px solid #007BFF; border-radius: 15px; float: right;">
                                    <div class="row no-gutters">
                                        <div class="col-md-5" style="text-align: center;">
                                            <img src="../assets/img/Folder SVG/Britama-1.svg" style="padding: 10px 0px 0px 10px; width: 100%;">
                                        </div>
                                        <div class="col-md-7">
                                            <div class="card-body" style="text-align:left;  margin-left: -1.5rem; margin-top: 2%;">
                                                <h5 class="card-title">Britama 1</h5>
                                                <b class="card-text" style="color: #3D80BC;">Deskripsi Singkat Model Kartu</b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev2" href="#carouselExampleIndicators" role="button" data-slide="prev" style="margin-left: -1rem;">
                        <span class="carousel-control-prev2-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next2" href="#carouselExampleIndicators" role="button" data-slide="next" style="margin-right: -5rem;">
                        <span class="carousel-control-next2-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- End Hero -->

@code {
    [Parameter]
    public EventCallback<string> OnClick { get; set; }

    private async Task syarat()
    {
        OnClick.InvokeAsync("gantikartusyarat");
        return;
    }
}
