@using Microsoft.AspNetCore.Components
@using OpenAccount.Data

@inject IDScanner scanner
@inject Utility utility
<!-- ======= Hero Section ======= -->
<section id="hero" style="margin-top: 50px;">

    <div class="container">
        <div class="row">
            <div class="col-xl-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
                <div>
                    <span class="badge badge-primary" style="margin-bottom: 2rem; font-size: 20px;">Ganti Kartu</span><br>
                </div>
                <h3 style="color: #00529C;">Masukkan <b>e-KTP</b> Anda pada alat pemindai</h3>
            </div>
            <div class="col-xl-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
                @if (isSpinner)
                {
                    <img src="../assets/img/Folder GIF/Spinner.gif" style="width: 10%;">
                }
                <!-- <img src="../assets/img/tick (2).png" style="width: 10%;"> //image sukses -->
                <br>
                <img src="../assets/img/Folder GIF/insert-ktp3.gif" class="img-fluid" alt=""><br>
                <button type="button" class="btn btn-primary" style="background-color: #F37024; font-weight: 100; padding: 8px 30px;" @onclick="PindaiKTP">Pindai</button>
            </div>
        </div>
    </div>
</section>
<!-- End Hero -->
<!-- ======= Footer ======= -->
<footer id="footer" class="fixed-bottom">
    <div class="container" style="display: flex;">
        <div class="col-xl-2 order-1 order-lg-1">
            <button type="button" class="btn btn-primary" style="background-color: #4E4E4E;" @onclick="Rekening">Kembali</button>
        </div>
        <div class="col-xl-8 order-2 order-lg-2">
            <ol class="track-progressGK" style="margin-left: 0%; margin-bottom: 2%;">
                <li class="done">
                    <em>1</em>
                    <!-- <span>Menu</span> -->
                </li>
                <li class="done">
                    <em>2</em>
                    <!-- <span>T & C</span> -->
                </li>
                <li class="todo">
                    <em>3</em>
                    <!-- <span>Menu</span> -->
                </li>
                <li class="todo">
                    <em>4</em>
                    <!-- <span>Verification</span> -->
                </li>
                <li class="todo">
                    <em>5</em>
                    <!-- <span>Insert Money</span> -->
                </li>
            </ol>
        </div>
        <div class="col-xl-2 order-3 order-lg-3">
            <!-- <a href="insert-money.html"><button type="button" class="btn btn-primary" style="float: right;">Continue</button></a> -->
        </div>
    </div>
</footer><!-- End Footer -->

@if (isKTPNotValid)
{
    <div class="modal" id="exampleModalCenter" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border text-primary" role="status" style="padding:0.5rem; margin-top: 5%;">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div style="text-align: center; color: rgb(0, 0, 0);">
                        <h3 class="teks" style="margin-top: 5%;">KTP <b style="color: #af0000;">TIDAK VALID</b></h3>
                        <h5 style="font-style:italic;">Silahkan Masukan KTP yang Valid</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public EventCallback<string> OnClick { get; set; }

    private bool isSpinner = false;
    private bool isKTPValid = true;
    private bool isKTPNotValid = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Utility.WriteLog("Ganti kartu condition : entered into ganti kartu pindai ktp", "step-action");
        }
    }

    private async Task PindaiKTP()
    {
        isSpinner = true;
        StateHasChanged();
        Utility.WriteLog("Ganti kartu condition : id scanner front swallow", "step-action");
        scanner.FrontSwallow();
        //Utility.WriteLog("Ganti kartu condition : id scanner back swallow", "step-action");
        //scanner.BackPos();
        await Task.Delay(2000);
        CheckKTPValid();
    }

    private async Task CheckKTPValid()
    {
        if (isKTPValid)
        {
            //Utility.WriteLog("Ganti kartu condition : id scanner radio pos", "step-action");
            //scanner.RadioPos();
            //await Task.Delay(2000);
            Utility.WriteLog("Ganti kartu condition : move to ganti kartu pindai ktp berhasil", "step-action");
            OnClick.InvokeAsync("gantikartupindaiktpberhasil");
        }
        else
        {
            isKTPNotValid = true;
            await Task.Delay(100);
            StateHasChanged();
            //await Task.Delay(1000);
            Utility.WriteLog("Ganti kartu condition : id scanner return card", "step-action");
            scanner.ReturnCard();
            await Task.Delay(100);
            Utility.WriteLog("Ganti kartu condition : id scanner close reader", "step-action");
            scanner.CloseCVRReader();
        }
    }

    private async Task Rekening()
    {
        Utility.WriteLog("Ganti kartu condition : move to ganti kartu input rekening", "step-action");
        OnClick.InvokeAsync("gantikartu");
    }
}
